<section class="tShirt">
  <!--! SCROLL -->
  <div class="scroll">
    <img src="../../../assets/Frame 27.png" alt="scroll">
  </div>
  <!--! LEFT SIDE -->
  <div class="tShirt-left-side">
    <div class="tShirt-left-side-mainInfo">
      <h2 class="tShirt-left-side-mainH">T-SHIRT</h2>
      <p class="tShirt-left-side-mainP">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi ullam
        aspernatur qui possimus sapiente nobis
        libero ipsum eaque. Reiciendis iusto blanditiis non aut perspiciatis laboriosam voluptas voluptatem expedita
        itaque quidem!</p>
    </div>
    <!-- SIZE -->
    <div class="tShirt-left-side-endButton">
      <button class="tShiirt-left-side-firtsButton">POPROŚ O WYCENĘ</button>
      <button class="tShiirt-left-side-secendButton">Zobacz realizacje</button>
    </div>
    <div class="tShirt-left-side-size">
      <div>
        <h3 class="tShirt-left-side-size-sizer">Dostępne rozmiary</h3>
        <p class="tShirt-left-side-size-p"> XS S M L XL</p>
      </div>
      <div>
        <h3 class="tShirt-left-side-size-tabel"><a>TABELE ROZMIARÓW</a></h3>
      </div>
    </div>
  </div>
  <!--! RIGHT SIDE -->
  <div class="tShirt-right-side">
    <!--* big image -->
    <div class="tShirt-right-side-bigImage">
      <div [ngSwitch]='number'>
        <div *ngSwitchCase=" '1' "><img src="../../../assets/image 13.png" alt="BIG IMAGE1"></div>
        <div *ngSwitchCase=" '2' "><img src="../../../assets/image 13.png" alt="BIG IMAGE2"></div>
        <div *ngSwitchCase=" '3' "><img src="../../../assets/image 13.png" alt="BIG IMAGE3"></div>
      </div>
    </div>
    <!--* smaller image -->
    <div class="tShirt-right-side-choseImage">
      <a class="tShirt-arrow-left"><img src="../../../assets/Vector.png" alt="left"></a>
      <a (click)='choseNumber(1)'>
        <div [ngClass]='{"active": number==1}'><img src="../../../assets/image 15.png" alt="small IMAGE1"></div>
      </a>
      <a (click)='choseNumber(2)'>
        <div [ngClass]='{"active": number==2}'><img src="../../../assets/image 16.png" alt="small IMAGE1"></div>
      </a>
      <a (click)='choseNumber(3)'>
        <div [ngClass]='{"active": number==3}'><img src="../../../assets/image 17.png" alt="small IMAGE1"></div>
      </a>
      <a class="tShirt-arrow-right"><img src="../../../assets/Vector (1).png" alt="right"></a>
    </div>
  </div>
</section>
