@import '../../styles/restet.less';

.tShirt {
  display: flex;
  flex-direction: row;
  font-family: Saira;
  margin-top: 100px;
  align-items: center;
  justify-content: space-around;

  //! LEFT SIDE
  .tShirt-left-side {
    display: flex;
    flex-direction: column;

    div {
      margin-bottom: 25px;
    }

    .tShirt-left-side-mainInfo {
      width: 426px;

      h2 {
        color: #E5E5E5;
        font-weight: 500px;
        font-size: 48px;
        line-height: 76px;
      }

      p {
        color: rgba(255, 255, 255, 0.47);
        line-height: 180.5%;
      }
    }

    .tShirt-left-side-endButton {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .tShiirt-left-side-firtsButton {
        background-color: #0193DC;
        box-shadow: 0px 4px 37px rgba(1, 147, 220, 0.49);
        align-items: center;
        padding: 16px;
        width: 202px;
        height: 56px;
        color: #E5E5E5;
        line-height: 150%;
        border: none;
      }

      .tShiirt-left-side-secendButton {
        width: 160px;
        height: 56px;
        padding: 12px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 29px;
        color: #E5E5E5;
        border: 1px solid #E5E5E5;
        background-color: transparent;
      }
    }

    .tShirt-left-side-size {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .tShirt-left-side-size-sizer {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #E5E5E5;
      }

      .tShirt-left-side-size-p {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #E5E5E5;
        letter-spacing: 3px;
      }

      .tShirt-left-side-size-tabel {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #42C0FF;
      }
    }
  }

  //! RIGHT SIDE
  .tShirt-right-side {
    display: flex;
    flex-direction: column;
    align-items: center;

    .tShirt-right-side-bigImage {
      position: relative;

      //? left LINE
      //? left LINE
      .tShirt-right-side-line {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        position: absolute;
        top: 71px;
        left: -164px;

        .text {
          margin-right: 5px;
        }

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #E5E5E5;

        .line {
          width: 56px;
          border: 1px solid #E5E5E5;
        }

        .circle {
          width: 10px;
          height: 10px;
          background: #A6E1FF;
          box-shadow: 0px 0px 12px 5px #42C0FF;
          border-radius: 5px;
        }
      }

      //? right LINE
      //? right Top
      .tShirt-right-side-line-right-top {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        position: absolute;
        transform: translate(300px,-455px);

        .text {
          margin-right: 5px;
        }

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #E5E5E5;

        .line {
          width: 56px;
          border: 1px solid #E5E5E5;
        }

        .circle {
          width: 10px;
          height: 10px;
          background: #A6E1FF;
          box-shadow: 0px 0px 12px 5px #42C0FF;
          border-radius: 5px;
        }
      }
      //? right Bottom
      .tShirt-right-side-line-right-bottom {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        position: absolute;
        transform: translate(275px,-95px);

        .text {
          margin-right: 5px;
        }

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #E5E5E5;

        .line {
          width: 56px;
          border: 1px solid #E5E5E5;
        }

        .circle {
          width: 10px;
          height: 10px;
          background: #A6E1FF;
          box-shadow: 0px 0px 12px 5px #42C0FF;
          border-radius: 5px;
        }
      }
    }

    .tShirt-right-side-choseImage {
      display: flex;
      flex-direction: row;
      align-items: center;

      a {
        margin-right: 25px;
      }
    }
  }
}
