<section class="tShirt">
  <!--! SCROLL -->
  <div class="scroll">
    <img src="../../../assets/Frame 27.png" alt="scroll">
  </div>
  <!--* Free div width -->
  <div class="tShirt-free-width1"></div>
  <!--! LEFT SIDE -->
  <div class="tShirt-left-side">
    <div class="tShirt-left-side-mainInfo">
      <h2 class="tShirt-left-side-mainH">{{currentTShirt?.name}}</h2>
      <p class="tShirt-left-side-mainP">{{currentTShirt?.description}}</p>
    </div>
    <!-- SIZE -->
    <div class="tShirt-left-side-endButton">
      <button class="tShiirt-left-side-firtsButton">POPROŚ O WYCENĘ</button>
      <button class="tShiirt-left-side-secendButton">Zobacz realizacje</button>
    </div>
    <div class="tShirt-left-side-size">
      <div>
        <h3 class="tShirt-left-side-size-sizer">Dostępne rozmiary</h3>
        <p class="tShirt-left-side-size-p"> XS S M L XL</p>
      </div>
      <div>
        <h3 class="tShirt-left-side-size-tabel"><a>TABELE ROZMIARÓW</a></h3>
      </div>
    </div>
  </div>
  <!--! RIGHT SIDE -->
  <div class="tShirt-right-side">
    <!--* big image -->
    <div class="tShirt-right-side-bigImage">
      <img src="{{currentTShirt?.image}}" alt="BIG IMAGE">
    </div>

    <div *ngFor="let tip of currentTShirt?.tips; trackBy: trackByIndex" class="tShirt-tip"
      [ngStyle]="{'transform': 'translate('+tip.position.x+'px,'+tip.position.y+'px)'}"
      [class.reversed]="tip.side=='left'">
      <div class="circle"></div>
      <div class="line"></div>
      <div class="text">{{tip.text}}</div>
    </div>

    <!--* carousel -->
    <div class="tShirt-right-side-choseImage">
      <div class="tShirt-arrow" (click)="scrollTo(true)"><img src="../../../assets/Vector.png" alt="left"></div>

      <div class="images" #scroll>
        <img *ngFor="let shirt of tShirts" id="{{shirt.id}}" [class.active]="currentTShirt==shirt" src="{{shirt.image}}"
          (click)="currentTShirt=shirt" alt="small IMAGE1">
      </div>

      <div class="tShirt-arrow" (click)="scrollTo(false)" ><img src="../../../assets/Vector (1).png" alt="right"></div>
    </div>
  </div>

</section>
