<nav>
  <div class="menu-logo"><img src="../../assets/ion_logo-electron.png" alt="LogoStrony"></div>
  <div class="menu-nav">
    <div><a routerLink="home" routerLinkActive="active">HOME</a></div>
    <div><a routerLink="t-shirt" routerLinkActive="active">T-SHIRT</a></div>
    <div><a routerLink="jacket" routerLinkActive="active">JACKET</a></div>
    <div><a routerLink="cap" routerLinkActive="active">CAP</a></div>
    <div><a routerLink="smth" routerLinkActive="active">SMTH</a></div>
    <div><a routerLink="about" routerLinkActive="active">ABOUT</a></div>
  </div>
</nav>
