@import '../../app/styles/restet.less';


app-hamburger {
  display: none;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  color: #E5E5E5;
  font-size: 16px;
  height: 60px;
  margin-top: 35px;
  margin-right: 75px;
  background: url("../../assets/ion_logo-electron.png");
  background-size: 50px;
  background-position: 125px 0px;
  background-repeat: no-repeat;

  a {
    margin-left: 50px;

    &:visited {
      color: white;
    }

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: #0193DC;
    }
  }

}

@media only screen and (max-width: 1300px) {

  app-hamburger {
    display: inline-block;
  }

  nav {
    a {
      display: none;
    }
  }




}
