@import '../app/styles/restet.less';


.web-container {
  display: flex;
  flex-direction: row;

  .web-top {
    min-width: calc(100vw - 60px);
    height: 60px;
    position: relative;
  }

  .web-right {
    width: 60px;
    height: 100vh;
  }

  .web-bottom {
    min-width: calc(100vw - 60px);
    min-height: calc(100vh - 60px);
    background-image: url(../assets/bg.svg);
    background-size: cover;
    position: absolute;
    top: 60px;
  }
}
