<button [class.hamburger-active]="show==true" class="hamburger hamburger-active" (click)="toggle()">
  <span class="hamburger-box">
      <span class="hamburger-inner"></span>
  </span>
</button>
<div class="navigation navigation-active" [class.navigation-active]="show==true">
  <ul class="navigation-list">
      <li class="navigation-item"><a routerLink="home" routerLinkActive="active">HOME</a></li>
      <li class="navigation-item"><a routerLink="t-shirt" routerLinkActive="active">T-SHIRT</a></li>
      <li class="navigation-item"><a routerLink="jacket" routerLinkActive="active">JACKET</a></li>
      <li class="navigation-item"><a routerLink="cap" routerLinkActive="active">CAP</a></li>
      <li class="navigation-item"><a routerLink="smth" routerLinkActive="active">SMTH</a></li>
      <li class="navigation-item"><a routerLink="about" routerLinkActive="active">ABOUT</a></li>
  </ul>
</div>
